.forCheckoutbutton{
    padding: 10px;
    padding-bottom: 30px;
}

.checkout-button{
    width: 80px;
    height: 28px;
    /* padding: 10px; */
    border: 0px solid #D82E2F;
    color: #FFFFFF;
    background-color: #e88c0b;
    border-radius: 12px;
    float: center;
    /* margin: 10px; */
}
.row{
    text-align: center;
}