.button-close{
    /* width:15%;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    background-color: red;
    font-weight: 100;
    padding: 5px;
    float: right; */
    width: 80px;
    height: 28px;
    border: 0px solid #D82E2F;
    color: #FFFFFF;
    background-color: #D82E2F;
    border-radius: 24px;
    float: right;
}